<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.40">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.7.2"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.7.2">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.87">
    <script>pipeline {
    agent any

    stages {
        stage(&apos;Build&apos;) {
            steps {
                // Pull the repo from GitHub
                git &apos;https://github.com/mscully4/michaeljscullydotcom.git&apos;
                
                //Resume
                sh &apos;aws s3 cp s3://michaeljscullydotcom/secrets.ini secrets.ini&apos;
                sh &apos;aws s3 cp s3://michaeljscullydotcom/db.sqlite3 db.sqlite3&apos;
                sh &apos;sudo pip3 install --target=/usr/lib/python3/dist-packages -r requirements.txt&apos;
                sh &apos;./manage.py migrate&apos;
                
                //Travel
                dir(&apos;travel&apos;) {
                    sh &apos;sudo npm install&apos;
                    sh &apos;sudo npm run build&apos;
                }
            }
        }
        stage(&apos;Deploy&apos;) {
            steps {
                //Update Gunicorn configuration
                sh &apos;sudo cp gunicorn/gunicorn.service /etc/systemd/system/&apos;
                sh &apos;sudo systemctl daemon-reload&apos;
                sh &apos;sudo service gunicorn restart&apos;

                //Update nginx configuration
                sh &apos;sudo cp nginx/nginx.conf /etc/nginx/sites-enabled&apos;
                sh &apos;sudo rm -f /etc/nginx/sites-enabled/default&apos;
                sh &apos;sudo systemctl reload nginx&apos;
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>