boto3==1.10.28
botocore==1.13.28
cachetools==3.1.1
certifi==2022.12.7
chardet==3.0.4
django>3
django-multiselectfield==0.1.10
django-storages==1.10.1
docutils==0.15.2
idna==2.8
jmespath==0.9.4
Pillow==8.3.2
protobuf==3.10.0
pyasn1==0.4.7
pyasn1-modules==0.2.7
python-dateutil==2.8.0
pytz==2019.3
requests==2.22.0
rsa==4.7
s3transfer==0.2.1
six==1.13.0
urllib3==1.26.5
gunicorn>20
django-rest-framework
pandas
