[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/var/lib/jenkins/workspace/michaeljscully.com/
ExecStart=gunicorn --access-logfile - --workers 3 --bind unix:/var/lib/jenkins/workspace/michaeljscully.com/michaeljscully.com.sock myproject.wsgi:application