{% extends "resume/header.html" %}
{% load static %}

{% block extrahead %}
<link type="text/css" rel="stylesheet" href="{% static 'resume/css/extracurriculars.css' %}">
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<body id="background">
    <div class="box">
    <div class="body-plaque"><h1 class="body-plaque-text">Extracurriculars</h1></div>
    <div class="extracurricular">
        <div class="info">
            <p class="name">{{ individual_extracurriculars.name }}</p>
            <p class="role">{{ individual_extracurriculars.role }}</p>
            {% if individual_extracurriculars.role_continued %}
                <p class="role">{{ individual_extracurriculars.role_continued }}</p>
            {% endif %}
            {% if individual_extracurriculars.duration %}
                <p class="role">{{ individual_extracurriculars.duration }}</p>
            {% endif %}
        </div>
        <img class="logo" src="{{ individual_extracurriculars.banner.url }}">
        <img class="sign" src="{{ individual_extracurriculars.tile.url }}">
        <div class="description">{{ individual_extracurriculars.description | linebreaks}}</div>
    </div>
    <div class="space"></div>
    </div>
</body>
{% endblock %}