<!DOCTYPE html>
<html>
  <head>
    <title>Michael Scully's Resume Page</title>
    <meta name="author" content="Michael Scully">
    <meta charset="utf-8">
      <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'resume/css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'resume/css/Hover/Hover-master/css/hover.css' %}">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Aguafina+Script|Allura|Cormorant+Garamond|Courgette&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    
    {% block extrahead %}
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="header-banner-image" style="background: url({% static 'resume/images/header/Header.jpg' %}); background-size: 100% 100%;">
        <h1 class="header-location">Atlanta, Georgia</h1>
        <div class="header-menubar">
          <div class="header-title" >Michael Scully</div>
          <div class="header-menu-items">
            <a class="header-buttons" href="/resume">Resume</a>
            <a class="header-buttons" href="/resume/education">Education</a>
            <a class="header-buttons" href="/resume/experience">Experience</a>
            <a class="header-buttons" href="/resume/projects">Projects</a>
            <a class="header-buttons" href="/resume/skills">Skills</a>
          </div>
        </div>
      </div>
    </header>
    {% block content %}
    {% endblock %}
    <footer class="footer">
      <p class="footer-credits">Design by Michael Scully</p>
      <p class="footer-credits"><a class="footer-links" href="mailto:michael.scully1997@gmail.com">Contact Me</p>
      <p class="footer-credits">Animations done using <a href="http://ianlunn.github.io/Hover/" class="footer-links">Hover.css</a></p>
      <p class="footer-credits">Running on Django 2.0.5</p>
    </footer>
    <script type="text/JavaScript" src="{% static 'resume/js/menubar.js' %}"></script>
    <script type="text/JavaScript" src="{% static 'resume/js/resizingCards.js' %}"></script>
    <!-- <script type="text/JavaScript" src="{% static 'resume/js/browser.js' %}"></script>-->
    {% block extrafoot %}
    {% endblock %}
    </body>
</html>
