{% extends "resume/header.html" %}
{% load static %}

{% block contentlinks %}
<link type="text/css" rel="stylesheet" href="{% static 'resume/css/skills.css' %}">
{% endblock %}

{% block content %}
<section class="body">
  <h1 class="body-title-text">Skills</h1>
  <div class='skill'>
    <p class="skill-name">{{ skill.skill }}</p>
    <img class="skill-logo" src="{{ skill.logo.url }}">
    <div class="skill-projects">
      <p class="skill-projects-header">Projects Using This Skill:</p>
      {% for project in skill.projects_set.all %}
      <a class="skill-project" href="../../resume/projects/{{ project.id }}">{{project.overview}}</a><br>
      {% endfor %}
    </div>
  </div>
  <div class="space"></div>
</section>
{% endblock %}