{% extends "resume/header.html" %}
{% load static %}

{% block contentlinks %}
<link type="text/css" rel="stylesheet" href="{% static 'resume/css/experience.css' %}">
{% endblock %}

{% block content %}
<section class="body">
  <h1 class="body-title-text">Experience</h1>
  <div class="experience">
      <div class="experience-text">
          <p class="experience-name">{{ position.name }}</p>
          <p>{{ position.role }}</p>
          {% if position.duration %}
              <p>{{ position.duration }}</p>
          {% endif %}
      </div>
      
      <img class="experience-banner" src="{{ position.banner.url }}">
      <div class="experience-description-wrapper">
          <img class="experience-tile" src="{{ position.tile.url }}">
          <div class="experience-description">{{ position.long_description | linebreaks }}</div>
      </div>
  </div>
  <div class="space"></div>
</section>
{% endblock %}
