{% extends "resume/header.html" %}
{% load static %}

{% block extrahead %}
<link type="text/css" rel="stylesheet" href="{% static 'resume/css/skills.css' %}">
<script rel="text/JavaScript" src="{% static 'resume/js/resizingCards.js' %}"></script>
{% endblock %}

{% block content %}
<section class="body">
  <h1 class="body-title-text">Skills</h1>
  <div class="skills-container">
    {% for skill in skills %}
      <a href="skills/{{ skill.pk }}" class="skills-skill body-card hvr-icon-{{ skill.hover_animation }}">
        <img class="skills-logo hvr-icon" src="{{ skill.logo.url }}">
        <p class="skills-text">{{ skill.skill }}</p>
      </a>
    {% endfor %}
  </div>
  <div class="space"></div>
</section>
{% endblock %}
