{% extends "m_resume/m_header.html" %}
{% load staticfiles %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'm_resume/css/m_experience.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <div class="body-plaque">
        <p>Experience</p>
    </div>
    {% for entry in experience%}
    <a class="experience body-card" href="experience/{{ entry.pk }}">
        <img class="banner" src="{{ entry.banner.url }}">
        <div>
            <p class="text">{{ entry.name }}</p>
            <p class="text">{{ entry.role }}</p>
            <p class="text">{{ entry.role_continued }}</p>
            <p class="text">{{ entry.duration }}</p>
        </div>
        <div>
            <p class="description">{{ entry.short_description }}</p>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
