.projects-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
}

.projects-project {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    width: 95%;
    /* min-height: 30%; */
    margin: 2.5% 2.5%;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.projects-banner {
    width: 96%;
    margin: auto;
    display: flex;
}

.projects-languages-logo {
    width: 23%;
}

.projects-text {
    font-family: "Garamond";
    font-size: 1.5vw;
    margin: auto 2.5%;
}

/*Individual Pages*/
.project {
    width: 90%;
    min-height: 10em;
}

.individual-project-info {
    width: 450px;
    height: auto;
    font-family: "Garamond";
    margin-left: 20px;
    margin-bottom: 20px;
    float: left;
}

.project-info-wrapper {
    width: 50%;
    float: left;
}

.project-languages-logos {
    display: flex;
    width: 80%;
}

.project-languages-logo {
    width: 25%;
}

.project-text {
    margin: 5% 2.5%;
    font-family: "Garamond";
    font-size: 2vw;
}

.project-description {
    display: block;
    font-family: "Garamond";
    font-size: 2vw;
    text-indent: 20px;
}
