.investments {
    font-family: "Garamond";
    font-size: 20px;
    margin: auto;
    border-collapse: collapse;
}

table thead th {
    background-color: rgba(24, 56, 97, .65);
    padding: 15px 15px;
}

table thead th:last-child {
    border-right: solid 1px rgba(24, 56, 97, .65);
}

table tbody {
    border: solid 1px rgba(24, 56, 97, .65);
}

table tbody td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    border-bottom: solid 1px rgba(24, 56, 97, .65);
}