.projects-container {
    margin-top: 5%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5vh;
}

.projects-project {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    width: 90%;
    height: 30vh;
    margin: 5% 5%;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.projects-banner {
    width: 96%;
    margin: 2.5% auto;
    text-align: center;
    display: grid;
    height: 95%;
}

.projects-languages-logo {
    max-width: 90%;
    max-height: 90%;
}

.projects-text {
    font-family: "Garamond";
    font-size: 1.5vw;
    margin: auto 2.5%;
    text-align: center
}

/*Individual Pages*/
.project {
    width: 90%;
    margin-top: 5vh;
}

.project-info-wrapper {
    width: 50%;
    float: left;
}

.project-languages-logos {
    text-align: center;
    width: 80%;
}

.project-languages-logo {
    width: 25%;
}

.project-text {
    margin: 5% 2.5%;
    font-family: "Garamond";
    font-size: 2vw;
}

.project-description {
    display: block;
    font-family: "Garamond";
    font-size: 140%;
    text-indent: 20px;
}
