a {
    color: black;
    text-decoration: none;
}

.resume-opening {
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-rows: 1fr;
    height: 30vh;
}

#resume-headshot {
    width: 70%;
    margin: auto;
    box-sizing: border-box;
    box-shadow: 10px 10px 8px #888888;
}

/* Current Job */
.resume-current {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    width: 85%;
    height: 15vh;
    font-size: 100%;
}

.resume-experiences, .resume-projects, .resume-educations {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.resume-experience, .resume-project, .resume-education {
    display: grid;
    grid-template-rows: 15vh 15vh;
    width: 90%;
    margin: 5% 5%;
    height: 30vh;
    font-size: 100%
}

.resume-text {
    font-family: 'Garamond';
    text-align: center;
}

.resume-logo {
    margin: auto;
    max-height: 90%;
    max-width: 90%;
}

.resume-project-banner {
    grid-template-rows: 100%;
    width: 96%;
    margin: 2.5% auto;
    display: grid;
}

.resume-project-logos {
    max-width: 90%;
    max-height: 90%;
}

.resume-skills, .resume-certifications {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 0 auto;
}

.resume-skill, .resume-certification {
    width: 90%;
    height: 25vh;
    display: grid;
    grid-template-rows: 15vh 10vh;
    grid-template-columns: 1fr;
    font-family: "Garamond";
    font-size: 100%;
    margin: 2.5% auto;
}

.blank {
    width: 100%;
    font-family: "Garamond";
    font-size: 200%;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    padding-top: 5%;
    padding-bottom: 2.5%;
    margin: auto;
}